parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface\\:\\:setVariablesToRender\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/CaptchaController.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface\\:\\:setVariablesToRender\\(\\)\\.$#"
			count: 1
			path: Classes/Controller/CaptchaV12Controller.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Form\\\\Domain\\\\Model\\\\Renderable\\\\RootRenderableInterface\\:\\:getProperties\\(\\)\\.$#"
			count: 1
			path: Classes/Hooks/FormElementCaptchaHook.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Form\\\\Domain\\\\Model\\\\Renderable\\\\RootRenderableInterface\\:\\:setProperty\\(\\)\\.$#"
			count: 4
			path: Classes/Hooks/FormElementCaptchaHook.php

		-
			message: "#^Cannot call method getPublicUrl\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\Folder\\|null\\.$#"
			count: 1
			path: Classes/Utility/CaptchaBuilderUtility.php
